**.pyc
.DS_Store

# Images used for ML training and trained models
offline learning/semantic segmentation/data/frames/
offline learning/object recognition/data/
offline learning/object recognition/models
# --- Images used for validation of perception processing nodes
packages/perception/src/test_assets
